

.contenido {
    padding: 1.5%;
    background-color: rgb(11, 31, 92 , 0.3);
    transition: 0.9s;
   
}

.item  {
    padding: 5%;
    background-color:rgb(79, 169, 170);
    border-radius: 5%rgb(82, 75, 50);

}

.foot {
    text-align: center;
    font-style: normal;
    color: darkblue;
}


.mapas {
    padding: 1%;
    border: 1% darkblue;
}

body {
    text-align: center;
    padding: 5%;
    background-color: rgb(193, 171, 221);
    

    background-image: url(/home/liah/lenovo/Programación/primer/paraparallax.jpeg);
}

menu {
    text-align: center;
    color: rgb(233, 189, 238);
    padding: 10%;
    background-color: rgba(9, 26, 29, 0.5);
    margin: 1% auto;
    transition: .8s;
    border: 1% solid rgba(3, 60, 71, 0.01);
    display: block ;
    
   
}


p {
    color: darkorange;
}

/* nav {
    background-color: coral;
    color: black;
    padding: 10px;
} */

/* .parrallax {
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
}

conteiner{
   
} */

/* #menues {
    position: fixed;
    top: 0pix;
    box-sizing: border-box;
    right: 0pix;
    left: 0pix;
    bottom: 0pix;
} */

@media screen and (max-width: 760px){
    #contenedor-ppal {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header"
    "menu"
    "main"
    "item"
    "footer"
    "mapas"
    "nav"
    "contenido"
    "form"
    "body" 
    
    }
@media screen and (min-width: 761px) and (max-width: 1023px){

}

.seccion {
    text-align: center;
    padding: 50px 80px;
    color: darkorchid;
}
  

.seccion-clara {
    color: rgb(179, 177, 177, 0.4);
    text-decoration: white;
}
  
.seccion-clara {
    background-color:rgba(235, 201, 201, 0.9);
    background-color: rgba(42, 90, 250, 0.6, 0.4)  ;
    transition: 0.7s;
    background-image: url(fondseccclara.png);
}


#form {
   
    color: rgb(59, 121, 118);
    padding: 15%;
    margin: 1%;
    background-color: rgba(43, 64, 134, 0.6) ;
    transition: 0.5s;

}

#form:hover{
    background-color: rgba(40, 93, 207, 0.85);
    color: rgb(233, 197, 184);
    transition: .5s;

}  

#form label{
    text-decoration: darksalmon;
}

#Coment {
    height: 100px;

}
  
#titform  {
    color: coral;
    background-color: rgba(211, 138, 138, 0.5);
    padding: 1em;
    border-bottom: 0;
    border-TOP: 0;
    margin: 2.5em 2em 1em ;
   
}

  
#fecha{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#gen2{
    display: flex;
    flex-direction: row;
}

.radio {
    padding: 1em;
}
