
.contenido {
    padding: 1.5%;
    background-color: cornsilk;
}

.item  {
    padding: 5%;
    background-color:coral;
    border-radius: 5%cornsilk;

}
header
span{
    border-color: black; /* color del borde */
  border-style: solid; /* estilo de borde */
  border-width: 2px; /* grosor de borde */
  border-radius: 10px; /* redondeado */
  background-color: moccasin; /* color de fondo */
  padding: 35px 50px;
  color: red;
}
  

.mail {
    text-align: center;
    color: indigo;
    text-shadow: lightblue;
    text-transform: capitalize;
    text-size-adjust: 150%;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mapas {
    padding: 1%;
    border: 1% darkblue;
}

.menu {
    text-align: center;
    padding: 10%;
    background-color: rgb(245, 190, 222);
    display: flex;
    content: space around;
  }

nav {
    background-color: coral;
    color: black;
    padding: 10px;
}

/* .parrallax {
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
}

#conteiner{
    background-image: url(/home/liah/lenovo/Programación/primer/paraparallax.jpeg);
} */

/* #menues {
    position: fixed;
    top: 0pix;
    box-sizing: border-box;
    right: 0pix;
    left: 0pix;
    bottom: 0pix;
} */

@media screen and (max-width: 760px){
    #contenedor-ppal {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header"
    "menu"
    "main"
    "item"
    "footer"
    "mapas"
    "nav"
    "contenido"    ;
    
    }
@media screen and (min-width: 761px) and (max-width: 1023px){

}



span {
    padding: 10px;
    opacity: 0.6;
}
  
span a,
  span a:link {
    color: white;
    text-decoration: none;
}
  
span:hover {
    border-color: cornsilk;
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    padding: 8px;
    opacity: 1;
}

.seccion {
    text-align: center;
    padding: 50px 80px;
}
  
.seccion-clara a,
.seccion-clara a:link,
.seccion-clara {
    color: #000;
    text-decoration: none;
}
  
.seccion-clara {
    background-color: #f4f4f4;
}


#form {
   
    color: rgb(59, 121, 118);
    padding: 15%;
    margin: 10%;
    background-color: rgba(43, 64, 134, 0.6) ;
    transition: 0.7s;
}

#form:hover{
    background-color: rgba(160, 139, 96, 0.85);
    color: coral;
    transition: .8s;

}  

#form label{
    text-decoration: dashed;
}

#Coment {
    height: 120px;

}

  
#titform  {
    color: coral;
    background-color: rgba(211, 138, 138, 0.5);
    padding: 1%;
    border-bottom: 0;
    border-TOP: 0;
    margin: 2.5% 2% 1% ;
   
}

  
#fecha{
      display: flex;
      flex-direction: row;
      justify-content: center;
}

#gen2{
    display: flex;
    flex-direction: row;
}

.radio {
    padding: 1%;
}